<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="WatchPaths" value="\\pekinfp03\systems$\GuideWire\MZ31164\My Documents\Source1\|\\pekinfp03\systems$\GuideWire\MZ31164\My Documents\Source2\|\\pekinfp03\systems$\GuideWire\MZ31164\My Documents\Source3\"/>
    <add key="WatchPathCopy" value="\\pekinfp03\systems$\GuideWire\MZ31164\My Documents\SourceMirror\"/>
    <add key="DeletedCopyOfDocument" value="\\pekinfp03\systems$\GuideWire\MZ31164\My Documents\DeletedCopy\"/>
    <add key="LogsFolder" value="\\pekinfp03\systems$\GuideWire\MZ31164\My Documents\Logs\"/>
    <add key="ApplicationLogs" value="true"/>
    <add key="EventsLogs" value="true"/>
    <add key="IndexFileBackupFolder" value="Processed - Archive"/>
    <add key="IndexFileFolderPrefix" value="Archive - "/>
    <add key="WatchThresholdTimeInMin" value="15"/>
    <add key="CycleTimeInMin" value="15"/>
    <add key="SendMail" value="false"/>
    <add key="host" value="smtp.pekininsurance.com"/>
    <add key="SMTPPort" value="25"/>
    <add key="EmailSubject" value="Folder Watcher Automated Email"/>
    <add key="EmailsTo" value="DLOnBaseAdministration@pekininsurance.com"/>
    <add key="EmailsCC" value=""/>
    <add key="EmailsBCC" value=""/>
  </appSettings>
</configuration>