<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    
    <!-- ***************************** Settings for backup Utility ***************************** -->
    <add key="WatchPaths" value="\\pekinfp03\systems$\GuideWire\MZ31164\My Documents\DipFolderWatcher\Source1\|\\pekinfp03\systems$\GuideWire\MZ31164\My Documents\DipFolderWatcher\Source2\|\\pekinfp03\systems$\GuideWire\MZ31164\My Documents\DipFolderWatcher\Source3\"/>
    <add key="DeletedCopyOfDocument" value="\\pekinfp03\systems$\GuideWire\MZ31164\My Documents\DipFolderWatcher\DeletedCopy\"/>
    <add key="LogsFolder" value="\\pekinfp03\systems$\GuideWire\MZ31164\My Documents\DipFolderWatcher\Logs\"/>
    <add key="ApplicationLogs" value="true"/>
    <add key="EventsLogs" value="true"/>
    <add key="NumberOfDaysToKeepBackup" value="10"/>
    

    <!-- ***************************** Settings for Notification Utility ***************************** -->
    <add key="NotificationPaths" value="\\pekinfp03\systems$\GuideWire\MZ31164\My Documents\DipFolderWatcher\Source1\|\\pekinfp03\systems$\GuideWire\MZ31164\My Documents\DipFolderWatcher\Source2\|\\pekinfp03\systems$\GuideWire\MZ31164\My Documents\DipFolderWatcher\Source3\|\\pekinfp03\systems$\GuideWire\MZ31164\My Documents\DipFolderWatcher\Source1\Error_Files"/>
    <add key="WriteNotification" value="true"/>
    <add key="WatchThresholdTimeInMin" value="15"/>
    <add key="CycleTimeInMin" value="3"/>
    <add key="EmailNotification" value="true"/>
    
    
    <!-- ***************************** Settings for Archiving Utility ***************************** -->
    <add key="IndexFileBackupFolder" value="Processed - Archive"/>
    <add key="IndexFileFolderPrefix" value="Archive - "/>
    <add key="NumberOfDaysToKeepProcessedFile" value="10"/>
    <add key="ArchivingCycleTimeInMinute" value="2"/> <!-- 1440 minutes for a day-->
    

    <!-- ***************************** Settings for Email Notification ***************************** -->
    <add key="host" value="PEKINFWD05.pekininsurance.com"/>
    <add key="Forwarder" value="sitnotifications@pekininsurance.com"/>
    <add key="ForwarderPassword" value=""/>
    <add key="SMTPPort" value="25"/>
    <add key="EmailSubject" value="Folder Watcher Automated Notification"/>
    <add key="EmailsTo" value="mzia@pekininsurance.com"/> <!-- add multiple email separated by , (comma) -->
    <add key="EmailsCC" value=""/>    <!-- add multiple email separated by , (comma) -->
    <add key="EmailsBCC" value=""/>    <!-- add multiple email separated by , (comma) -->
    
  </appSettings>
</configuration>